* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: hsl(210, 46%, 95%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "item1""item2""item3""item4""item5";
  margin: auto;
  margin-top: 4rem;
  max-width: 1200px;
  grid-gap: 1rem;
}

.item-1 {
  grid-area: item1;
  grid-column: 1/3;
  background-color: hsl(263, 55%, 52%);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% 0;
}

.item-2 {
  grid-area: item2;
  grid-row: 1/1;
  grid-column: 3/4;
  background-color: hsl(217, 19%, 35%);
}

.item-3 {
  grid-area: item3;
  grid-row: 1/3;
  grid-column: 4/4;
  background-color: hsl(0, 0%, 100%);
}

.item-4 {
  grid-area: item4;
  grid-row: 2/2;
  grid-column: 1/1;
  background-color: hsl(0, 0%, 100%);
}

.item-5 {
  grid-area: item5;
  grid-row: 2/2;
  grid-column: 2/4;
  background-color: hsl(219, 29%, 14%);
}

.item-1, .item-2, .item-3, .item-4, .item-5 {
  padding: 0.7rem;
  border-radius: 10px;
}

img {
  border-radius: 50%;
  width: 30px;
  margin-top: 0.5rem;
}

.profile {
  display: flex;
}

.profile-info-1, .profile-info-2, .profile-info-5 {
  color: hsl(0, 0%, 81%);
}

.profile-info-1, .profile-info-2, .profile-info-3, .profile-info-4, .profile-info-5 {
  font-size: 0.8rem;
  margin-top: 0.7rem;
  padding-left: 1rem;
}

small {
  opacity: 0.5;
}

p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.profile-image-1>img {
  border: 3px solid #A775F1;
}

.profile-image-5>img {
  border: 3px solid #A775F1;
}

.item-1, .item-2, .item-5 {
  color: hsl(0, 0%, 100%);
}

.item-3, .item-4 {
  color: hsl(217, 19%, 35%);
}

.item-1,.item-2,.item-3,.item-4,.item-5{
  font-size: 1.2rem;
  font-weight: 600;
}

.attribution {
  font-size: 1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
  }

  .item-1 {
    order: 0;
  }

  .item-2 {
    order: 1;
  }

  .item-4 {
    order: 3;
  }

  .item-5 {
    order: 4;
  }

  .item-3 {
    order: 5;
  }

  .attribution {
    margin-bottom: 2rem;
  }
}
